* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f9f9f9;
  height: 100vh;
  overflow: hidden;
}

aside {
  position: absolute;
  top: 50px;
  width: 80px;
  height: 100vh;
  background-color: #12171e;
  padding: 20px 15px 0 15px;
  border-right: 0.5px solid #383838;
  border-top: 0.5px solid #383838;
  transition: all 0.5s ease;
}

aside p {
  opacity: 0;
  white-space: nowrap;
}

aside a.userInfo {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  padding: 0;
}

aside a.userInfo.active {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  padding: 0;
  transition: all 0.5s ease;
}

aside a.userInfo.active img {
  box-shadow: 0 0 3px 2px#65caa4;
}
aside a.userInfo:hover img {
  box-shadow: 0 0 3px 2px#65caa4;
}

/* aside img {
  width: 45px;
  height: 45px;
  border-radius: 25px;
  filter: contrast(1.2);
  transition: all 0.5s ease;
} */

aside a.userInfo.active p {
  color: #65caa4;
}

aside a span {
  opacity: 0;
}

/* navlinks */
aside a {
  display: flex;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  height: 40px;
  border-radius: 20px;
  align-items: center;
  transition: all 0.5s ease;
  min-width: 50px;
  margin-bottom: 10px;
  padding: 7px 7px 7px 12px;
  gap: 7px;
}

aside a span {
  vertical-align: middle;
}

aside a:hover {
  color: #65caa4;
}
aside a.active {
  color: #65caa4;
}

aside .menu-icon {
  color: #fff;
  cursor: pointer;
  margin-left: 5px;
  margin-bottom: 15px;
}

/* opened sidebar */
aside.opened {
  width: 250px;
}

aside.opened a span {
  opacity: 1;
}

aside.opened p {
  opacity: 1;
}

aside.opened ~ main {
  margin-left: 250px;
  width: calc(100% - 250px);
}
/* opened sidebar */

main.about {
  color: #000000;
  width: 700px;
  line-height: 1.5;
  margin-left: 80px;
  padding: 30px 5vw;
  transition: all 0.5s ease;
  width: calc(100vw - 80px);
  height: 100%;
}

.dashboard-main {
  margin-left: 80px;
  padding: 30px 5vw;
  transition: all 0.5s ease;
  width: calc(100vw - 80px);
  height: 100%;
}

.edit-task {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.edit-task label {
  color: #fff;
}

#priority-tag {
  width: 17px;
  height: 17px;
  border-top-left-radius: inherit;
  border-bottom-right-radius: 17px;
  position: absolute;
  top: 0;
  left: 0;
}

#btn-edit-task {
  position: absolute;
  top: 7px;
  right: 7px;
}

#task-card-avatar {
  position: absolute;
  bottom: 13px;
  right: 13px;
}

#task-dates {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0 0 2px;
  font-size: 0.9rem;
}

.error {
  color: #00ff80;
  font-size: 7rem;
  background-color: #000230;
  text-decoration: underline;
  height: 100vh;
}

.error div {
  width: fit-content;
  margin: 0 auto;
}

main.login-container {
  color: #000000;
  display: flex;
  height: 100vh;
}

.login-container .side-pic-login {
  background-image: url("src/assets/login.jpg");
  background-size: cover;
  width: 30%;
}

.login-container .side-pic-signup {
  background-image: url("src/assets/signup.jpg");
  background-size: cover;
  width: 30%;
}

.user img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
}

.login form {
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
}

.error-message {
  color: #fff;
}

.user-pic {
  position: relative;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.img-loader {
  animation: spin 1s infinite linear;
  border-radius: 100%;
  box-shadow: inset -2px 0 #65caa4;
  height: 220px;
  position: absolute;
  width: 220px;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiSkeleton-root {
  width: calc(100vw - 80px);
}
