* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f9f9f9;
  height: 100vh;
  overflow: scroll;
}

.landing-page header {
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-page nav {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 5% 0;
}

.landing-page nav button {
  margin-right: 10px;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
}

.landing-page nav button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.landing-page .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 950px;
}

.landing-page .title h1 {
  color: #fff;
  text-align: center;
  margin-top: 100px;
  text-shadow: 2px 2px 3px rgba(160, 160, 160, 0.2);
}

.landing-page .title button {
  margin-right: 10px;
}

.img-styling {
  width: 100%;
  object-fit: cover;
}

.landing-page .features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}

.landing-page .features .title {
  text-align: center;
  margin: 0 10px 20px;
  max-width: 35rem;
  line-height: 1.5;
}
.landing-page .features .description {
  text-align: center;
  max-width: 35rem;
  font-weight: 250;
  font-size: 1.1rem;
  line-height: 1.8;
  padding: 0 10px;
}

.landing-page .features .container {
  display: flex;
  gap: 40px;
  margin: 0 5%;
}

.landing-page .features .container article {
  padding: 70px 6% !important;
  border-radius: 20px;
  max-width: 700px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-page .features .container article h3 {
  text-align: center;
  margin-bottom: 30px;
}

.landing-page h2.cta {
  font-weight: 800;
  font-size: 4rem;
}

.landing-page footer {
  height: 7rem;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.landing-page footer p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

aside {
  position: absolute;
  top: 50px;
  width: 80px;
  height: calc(100vh - 50px);
  background-color: #12171e;
  padding: 20px 15px 0 15px;
  border-right: 0.5px solid #383838;
  border-top: 0.5px solid #383838;
  transition: all 0.5s ease;
  box-shadow: 4px 0 10px rgba(160, 160, 160, 0.2);
}

aside p {
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.5s ease;
}

aside a.userInfo {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  padding: 0;
}

aside a.userInfo.active {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  padding: 0;
  transition: all 0.5s ease;
}

aside a.userInfo.active p {
  color: #65caa4;
}

aside a span {
  opacity: 0;
  transition: opacity 0.5s ease;
}

/* navlinks */
aside a {
  display: flex;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  height: 40px;
  border-radius: 20px;
  align-items: center;
  transition: all 0.5s ease;
  min-width: 50px;
  margin-bottom: 10px;
  padding: 7px 7px 7px 12px;
  gap: 15px;
}

aside a span {
  vertical-align: middle;
}

aside a:hover {
  color: #65caa4;
}
aside a.active {
  color: #65caa4;
}

/* opened sidebar */
aside.opened {
  width: 250px;
}

aside.opened a span {
  opacity: 1;
}

aside.opened p {
  opacity: 1;
}

aside.opened ~ main {
  margin-left: 250px;
  width: calc(100% - 250px);
}
/* opened sidebar */

main.about {
  color: #000000;
  width: 700px;
  line-height: 1.5;
  margin-left: 80px;
  padding: 30px 5vw;
  transition: all 0.5s ease;
  width: calc(100vw - 80px);
  height: 100%;
}

.dashboard-main {
  margin-left: 80px;
  padding: 30px 3% 0;
  transition: all 0.5s ease;
  width: calc(100vw - 80px);
  height: 100%;
}

.login-container .side-pic-signup {
  background-image: url("src/assets/signup.jpg");
  background-size: cover;
  width: 30%;
}

.user img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
}

.login form {
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
}

.MuiSkeleton-root {
  width: calc(100vw - 80px);
}

#menu-type .MuiPaper-root ul,
#menu-priority .MuiPaper-root ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 3px;
}

#menu-priority .MuiPaper-root {
  transform: translateX(54px) !important;
}

#menu-type .MuiPaper-root {
  transform: translateX(67px) !important;
}

#total-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #12171e;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  color: #fff;
  position: absolute;
  top: 19px;
  right: 22px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.no-border fieldset {
  border: none;
  display: none;
}

.no-border .MuiInputBase-root {
  padding: 0;
}

.no-border.MuiFormControl-root {
  margin-bottom: 0;
  width: 94px;
}

.no-border input {
  padding: 0;
}

.no-border button {
  display: none;
}
