* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

#root {
  height: inherit;
}

body {
  margin: 0;
  background-image: url("src/assets/main-bg2.jpg");
  background-size: cover;
  height: 100%;
}

.topNavBar {
  height: 45px;
  background-color: #12171e;
  display: flex;
  color: #fff;
}

.bx.bx-calendar-check {
  font-size: 1.4rem;
  margin: auto 10px auto 20px;
  line-height: 45px;
}

.topNavBar h1 {
  font-size: 1.1rem;
  margin: auto 0;
  font-weight: 100;
}

main {
  margin-left: 80px;
  padding: 30px 5vw;
  transition: all 0.5s ease;
  width: calc(100vw - 80px);
  height: 100%;
}

aside.opened ~ main {
  margin-left: 250px;
  width: calc(100% - 250px);
}

footer {
  display: flex;
  color: #c3c3c3;
  margin-top: 200px;
}

footer i {
  font-size: 1.3rem;
}

footer div {
  display: flex;
  font-size: 0.8rem;
  gap: 5px;
  width: 200px;
  margin: 0 auto 20px;
}

footer a {
  text-decoration: none;
  color: #c3c3c3;
}

aside {
  position: absolute;
  top: 45px;
  width: 80px;
  height: 100%;
  background-color: #12171e;
  padding: 20px 15px 0 15px;
  border-right: 0.5px solid #383838;
  border-top: 0.5px solid #383838;
  transition: all 0.5s ease;
}

aside p {
  opacity: 0;
  white-space: nowrap;
}

aside a span {
  opacity: 0;
}

aside.opened {
  width: 250px;
}

aside.opened a span {
  opacity: 1;
}

aside.opened p {
  opacity: 1;
  font-weight: 600;
}

/* navlinks */
aside a {
  display: flex;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  height: 40px;
  border-radius: 20px;
  line-height: 40px;
  padding: 0 17px;
  transition: all 0.5s ease;
  min-width: 50px;
  margin-bottom: 10px;
}

aside a:hover {
  background-color: #fff;
  color: black;
}
aside a.active {
  background-color: #fff;
  color: black;
}
/* icons in navlinks */
aside a .bx {
  line-height: 40px;
  min-width: 30px;
}

aside #menu-btn {
  color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
  padding-left: 8px;
  padding-bottom: 20px;
}

aside img {
  width: 45px;
  height: 45px;
  border-radius: 25px;
  filter: contrast(1.2);
  border: 1px solid #eee;
}

aside .userInfo {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  margin-left: 3px;
}

main.about {
  color: #fff;
  width: 700px;
  line-height: 1.5;
}

.edit-task {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.edit-task label {
  color: #fff;
}

.task-editor-background {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #0000006c;
  z-index: 30;
  top: 0;
}

.task-editor-form {
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 100px auto 0;
  padding: 30px 30px 30px;
  position: relative;
}

.task-editor-form input,
.task-editor-form select,
.task-editor-form textarea {
  border: 1px solid #e8e8e8;
  border-radius: 7px;
}

.task-editor-form .editor-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.task-editor-form .main {
  display: flex;
}

.task-editor-form .main .leftColumn {
  display: flex;
  flex-direction: column;
}

.task-editor-form .main .leftColumn textarea {
  display: block;
}

.task-editor-form .title {
  display: flex;
}

.task-editor-form #assignee,
.task-editor-form #dueDate,
.task-editor-form #description {
  display: flex;
  width: 46%;
  margin-left: 5px;
  margin-bottom: 10px;
  font-size: 1rem;
}

.task-editor-form #type,
.task-editor-form #priority,
.task-editor-form #createdDate {
  margin-bottom: 10px;
  font-size: 1rem;
}

.task-editor-form #assignee,
.task-editor-form #dueDate {
  height: 30px;
}

.task-editor-form .description-div {
  display: flex;
  height: 70px;
}

.task-editor-form #title {
  display: flex;
  font-size: 1.2rem;
  width: 513px;
  height: 35px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.task-editor-form .title {
  margin-bottom: 10px;
}

.task-editor-form #title-icon,
.task-editor-form #description-icon,
.task-editor-form #dueDate-icon {
  color: #9e9e9e;
}

.task-editor-form .main .rightColumn {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  position: absolute;
  right: 0;
  top: 100px;
  bottom: 0;
  width: 47%;
  padding: 20px 32px 0 16px;
}

.task-editor-form .title {
  display: flex;
  justify-content: space-between;
}

.task-editor-form .assignee-div {
  display: flex;
  align-items: baseline;
}

.task-editor-form .title h3 {
  margin: 0;
}

.task-editor-form .btn-close-editor {
  align-self: flex-end;
  padding: 0;
  transform: translate(10px, -7px);
}

.task-editor-form label {
  font-size: 0.85rem;
  color: #505050;
  margin-bottom: 5px;
}

.task-editor-form .dueDate-div {
  display: flex;
}

.task-list-card {
  margin-bottom: 10px;
}

.task-list-card h3 {
  text-align: center;
  margin-top: 0;
}

.task-card {
  padding: 10px 20px;
  position: relative;
}

.task-card h4 ~ p {
  margin-top: 9px;
  margin-bottom: 7px;
}

.task-card p {
  font-size: 0.9rem;
}

#priority-tag {
  width: 17px;
  height: 17px;
  border-bottom-right-radius: 17px;
  position: absolute;
  top: 0;
  left: 0;
}

#btn-edit-task {
  position: absolute;
  top: 7px;
  right: 7px;
}

#task-card-avatar {
  position: absolute;
  bottom: 13px;
  right: 13px;
}

.task-card h4 {
  margin: 7px 0 0px;
  font-size: 0.96rem;
}

#task-dates {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0 0 2px;
  font-size: 0.85rem;
}

#btn-add-task {
  position: fixed;
  bottom: 100px;
  right: 100px;
}

.error {
  color: #00ff80;
  font-size: 7rem;
  background-color: #000230;
  text-decoration: underline;
  height: 100vh;
}

.error div {
  width: fit-content;
  margin: 0 auto;
}
